html {
	height: 100%;
	width:100%
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Karla' ,'Century Gothic', sans-serif;
	overflow-x: hidden;
	background-color: #f5f5f5;
}
#menu 
{
	display:none;
}
header nav a img
{
	position: absolute;
  	z-index: 9999999;
  	top: 0px;
  	width: 120px;
  	margin-top: 18px;
  	margin-left: 5px;
}
.slicknav_menu 
{
	display: block;
	position: fixed;
	width: 100%;
	top: 0px;
	background-color: black;
	opacity: 0.8;
	z-index: 9999;
}
#banner
{
	min-height: 85%;
	background-image: url(../images/bg.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
#banner h1
{
	font-size: 4em;
	color: white;
	text-align: center;
	padding-top: 200px;
}
#banner h1 i.fa.fa-heart
{
	color: #f93405;
}
#banner h2
{
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 300;
	text-align: center;
	color: white;
}
.container-4
{
	overflow: hidden;
	width: 340px;
	vertical-align: middle;
	white-space: nowrap;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	opacity: 0.9;
}
.container-4 input#search
{
  	width: 340px;
	height: 50px;
	background: white;
	border: 2px solid #f93405;
	font-size: 12pt;
	float: left;
	color: black;
	padding-left: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: 'Karla', 'Century Gothic', sans-serif;
	margin-bottom: 25px;

}
.container-4 input#search::-webkit-input-placeholder 
{
   	color: black;
}
 
.container-4 input#search:-moz-placeholder 
{ /* Firefox 18- */
   	color: black;  
}
 
.container-4 input#search::-moz-placeholder 
{  /* Firefox 19+ */
   	color: black;  
}
 
.container-4 input#search:-ms-input-placeholder 
{  
   	color: black;  
}
.container-4 button.icon
{
  	-webkit-border-top-right-radius: 5px;
  	-webkit-border-bottom-right-radius: 5px;
  	-moz-border-radius-topright: 5px;
  	-moz-border-radius-bottomright: 5px;
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
 
  	border-left: 1px solid #727fc3;
	border-bottom: 2px solid #f93405;
	border-right: 2px solid #f93405;
	border-top: 2px solid #f93405;

  	background: #353838;
  	height: 50px;
  	width: 50px;
  	color: #e3e7e7;
  	opacity: 0;
  	font-size: 10pt;
 	
  	-webkit-transition: all .55s ease;
  	-moz-transition: all .55s ease;
  	-ms-transition: all .55s ease;
  	-o-transition: all .55s ease;
  	transition: all .55s ease;
}
.container-4:hover button.icon, 
.container-4:active button.icon, 
.container-4:focus button.icon
{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}
.container-4:hover button.icon:hover
{
    background: #e3e7e7;
    cursor: pointer;
    color:#546666;
}
.container-4:active
{
	border: none;
}
#map-home
{
	width: 100%;
	height: 400px;
	pointer-events: none;
}
#teaser ul
{
	width: 100%;
}
#teaser ul li
{
	width: 100%;
}
#teaser ul li img
{
	width: 100%;
	height: auto;
	background-size: cover;
	filter: none;
    -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */

}
#teaser ul li:hover
{
    -moz-transition: 0.2s;
	-o-transition: 0.2s;
	-webkit-transition: 0.2s;
	-ms-transition: 0.2s; 
    transition: 0.2s;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    cursor: pointer;
}
.teaser-banner
{
	position: relative;
	z-index: 999;
	width: 100%;
	height: 50px;
	background:rgba(0,0,0,0.6);
	margin-top: -53px;
}
#teaser ul li .teaser-banner img
{
	width: 35px;
	height: 35px;
	border-radius: 35px;
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
#teaser ul li .teaser-banner p
{
	float: left;
	color: white;
	margin-left: 15px;
	margin-top: 15px;
}
#teaser ul li .teaser-banner p.teaser-location
{
	right: 0px;
  	position: absolute;
  	margin-right: 15px;
}
#teaser ul li:hover p
{
    text-decoration: underline;
}
#how
{
	clear: both;
	width: 100%;
}
#how h3
{
	clear: both;
	font-family: 'Open Sans', sans-serif;
	font-size: 24pt;
	font-weight: 300;
	text-align: center;
	color: black;
	padding-top: 50px;
}
#how
{
	position: relative;
	top: -3px;
}
#how ul
{
	width: 100%;
	max-width: 1020px;
	margin-right: auto;
	margin-left: auto;
}
#how ul li img
{
	width: 315px;
	height: 254px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	margin-top: 15px;
	margin-bottom: 15px;
}
#how h4
{
	font-family: 'Karla', 'Century Gothic', sans-serif;
	font-size: 14pt;
	color: #444;
	font-weight: bold;
	padding-top: 15px;
	text-align: center;

}
#how p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 11pt;
	color: #444;
	padding-top: 10px;
	text-align: center;
	margin-bottom: 50px;
	line-height: 15pt;
	letter-spacing: 1pt;
}
footer
{
	clear: both;
	width: 100%;
	background-color: #1a1a1a;
	color: #e3e7e7;
	text-align: center;
}
footer .footer-line
{
	clear: both;
  	display: block;
  	height: 1px;
  	width: 100%;
  	max-width: 1020px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 25px;
  	padding-top: 35px;
  	border-bottom: 1px solid #e3e7e7;
}
footer .footer-list-center
{
	width: 100%;
	max-width: 502px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}
footer ul.footer-list
{
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}
footer ul.footer-list li
{
	text-align: left;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family: 'Karla' ,'Century Gothic', sans-serif;
}
footer ul.footer-list li a:link,
footer ul.footer-list li a:active,
footer ul.footer-list li a:visited
{	
	text-decoration: none;
	color: white;
	font-size: 11pt;
}
footer ul.footer-list li a:hover
{
	text-decoration: underline;
}
.footer-title
{
	font-weight: bold;
	text-align: left;
}
footer h5
{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 11pt;
	padding-top: 35px;
	clear: both;
}
footer ul.social
{	
	width:100%;
	max-width: 201px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	display: block;
}
footer ul.social li a:link,
footer ul.social li a:visited,
footer ul.social li a:active
{
	margin-left: 7px;
	margin-right: 7px;
	float: left;
	text-align: center;
	font-size: 12pt;
	text-align: center;
	text-decoration: none;
	display: block;
	color: white;
	border-radius: 20px;
	border:1px solid white;
	padding: 10px;
}
footer ul.social li a:hover
{
	background-color: white;
	color: #444;
}
h6
{
	text-align: center;
	clear: both;
	color: white;
	font-size: 9pt;
	display: block;
	padding-top: 50px;
	padding-bottom: 25px;
	opacity: 0.1;
}
.loginbox
{
	width: 100%;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	background-color: white; 
	position: relative;
	top: 90px;
	padding-bottom: 25px;
}
.loginbox .register
{
	top:85px;
}
.loginbox p
{
	text-align: center;
	color: black;
	font-size: 16pt;
	padding-top: 15px;
	padding-bottom: 25px;
}
.loginbox form span.input-email-icon
{
	font-size: 12pt;
	float: left;
	padding: 10px 7px;
	border:1px solid #ccc;
	margin-left: 35px;
	color:#555;
	background-color: #eee;
	border-radius: 4px;
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px;
	border-right: 0px;
	min-width: 20px;
	text-align: center;
}
.loginbox form input 
{
	width: 75%;
	max-width: 350px;
	height: 25px;
	border-radius: 4px;
	padding:6px 12px;
	display: block;
	margin-bottom: 10px;
	color: #555;
	background-color: #fff;
	border:1px solid #ccc;
	border-top-left-radius: 0px; 
	border-bottom-left-radius: 0px;
}
.loginbox form p.keeploggedin
{
	margin-top: -15px;
	margin-left: 20px;
}
.loginbox form p.keeploggedin label
{
	font-size: 11pt;
	width: 75%;
	max-width: 350px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: left;
	padding-top: 4px;
}
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked 
{
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label 
{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before 
{
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after 
{
  content: '✔';
  position: absolute;
  top: 0; left: 4px;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after 
{
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after 
{
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before 
{
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after 
{
  color: #999;
}
[type="checkbox"]:disabled + label 
{
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before 
{
  border: 1px dotted blue;
}
/* hover style just for information */
label:hover:before 
{
  border: 1px solid #4778d9!important;
}
.loginbox form [type="submit"]
{
	background-color: #f93405;
	color: white;
	font-size: 16pt;
	height: 40px;
	border-radius: 6px;
	cursor: pointer;
	margin-right: auto;
	margin-left:auto;

}
.loginbox form [type="submit"]:hover
{
	background-color: #fb5c36;
}
.forgot
{
	margin-top: 125px;
}
.forgot a:link,
.forgot a:active,
.forgot a:visited
{
	text-decoration: none;
	color: white;
	text-align: center;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
}
.forgot a:hover
{
	text-decoration: underline;
}
.wrapper
{
	width: 100%;
	max-width:1020px;
	margin-left: auto;
	margin-right: auto;
}
aside.nav-sec
{
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 95px;
	margin-bottom: 25px;
}
aside.nav-sec ul li
{
	display: block;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	margin-bottom: 25px;
}
aside.nav-sec a:link,
aside.nav-sec a:active,
aside.nav-sec a:visited
{
	text-decoration: none;
	color: #555;
	margin-top: 10px;
	padding-bottom: 10px;
	display: block;
}
aside.nav-sec a:hover
{
	text-decoration: underline;
}
aside.nav-sec a.aside-active
{
	font-weight: bold;
}
.wrapper h2
{
	font-size: 25pt;
	font-weight: bold;
	color: #555;
	margin-bottom: 25px;
	text-align: center;
	clear: both;
}
.content
{
	z-index: 9999;
}
.content p
{
	padding-left: 5px;
	padding-right: 5px; 
	text-align: left;
	line-height: 1.2;
	margin-bottom: 25px;
}
.content ul li
{
	width: 100%;
	max-width: 350px;
	float: left;
	border:1px solid #dce0e0;
	margin-left: 75px;
	margin-bottom: 50px;
	background-color: white;
}
.content ul li i
{
	text-align: left;
  	font-size: 35pt;
  	color: #f93405;
  	float: left;
  	margin-left: 35px;
  	padding-top: 35px;
  	padding-bottom: 25px;
}
.content ul li p.about-title
{
	padding-left: 120px;
  	margin-top: 25px;
  	color: #555;
  	font-size: 16pt;
}
.content ul li p.about-number
{
	padding-left: 120px;
  	margin-top: -30px;
  	color: black;
  	font-size: 25pt;
}
a.cta-discover
{
	width: 33%;
	min-width: 220px;
	background-color: #f93405;
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	margin-top: 25px;
	border-radius: 4px;
	clear:both;
	margin-left: auto;
	margin-right: auto;
}
a.cta-discover:link,
a.cta-discover:active,
a.cta-discover:visited
{
	text-decoration: none;
	color: white;
	font-size: 16pt;
	text-align: center;
}
a.cta-discover:hover
{
	background-color: #fb5c36;
}
.filters
{
	z-index: 1;
}
.filters span
{
	display: block;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	font-size: 12pt;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	margin-top: 15px;
	cursor: pointer;
	background-color: #f93405;
	color: white;
}
.filters span i
{
	text-align: right;
	width: 80%;
}
#filterlist
{
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	border:1px solid #f93405;
	padding-left: 9px;
	padding-right: 9px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
#filterlist ul li
{
	margin-top: 15px;
	margin-bottom: 10px;
}
#filterlist ul li p
{
	float: left;
	margin-right: 20px;
	min-width: 65px;
}
.filterlist ul li form [type="text"]
{
	background: white;
	border: 1px solid #f93405;
	font-size: 12pt;
	border-radius: 4px;
	font-family: 'Karla';
	margin-top: -3px;
}
#filterlist ul li input[type='range'] 
{
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 10px;
	vertical-align: middle;
}
#filterlist ul li input[type='range']::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px #333;
	background-color: #999;
	height: 10px;
}
#filterlist ul li input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}
#filterlist ul li input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 20px;
	background-color: #FFF;
	box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 20px;
	width: 20px;
}
#filterlist ul li .btnsearch
{
	background-color: #f93405;
  	color: white;
  	font-size: 16pt;
  	height: 40px;
  	border-radius: 6px;
  	cursor: pointer;
  	margin-right: auto;
  	margin-left: auto;
  	width: 80%;
  	border:0px;
}
#filterlist ul li .btnsearch:hover
{
	background-color: #fb5c36;
}
.filters span:hover
{
	background-color: #fb5c36;
}
.content ul li.discover-list-li
{
	min-width: 100%;
	margin-left: 0px;
	background-color: none;
	border:0px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
}
.content ul li.discover-list-li a:hover .discover-banner p
{
	text-decoration: underline;
}
.content ul li.discover-list-li img
{
	width: 100%;
	margin: 0px;
	background-position: center center;
	background-size: cover;
}
.content ul.discover-list
{
	width: 100%;
	margin-top: 15px;
	padding: 0px;
}
.content ul.discover-list li.discover-list-li .discover-banner
{
	width: 100%;
	height: 45px;
	background-color: black;
	background:rgba(0,0,0,0.6);
	margin-top: -48px;
	z-index: 999;
	position: relative;
	color: white;
}
.content ul.discover-list li.discover-list-li .discover-banner p.discover-name
{
  	padding-top: 15px;
  	display: block;
  	width: 25%;
  	float: left;
  	padding-left: 10px;
}
.content ul.discover-list li.discover-list-li .discover-banner p.discover-price
{
	display: block;
  	width: 40%;
  	float: right;
  	text-align: right;
  	padding-top: 15px;
  	padding-right: 10px;
}
.content ul.discover-list li.discover-list-li img.discover-marker
{
	width: 30px;
	height: 30px;
	float:left;
	margin-top: 10px;
	margin-left: 5px;
}
.discover-map
{
	margin-top: 60px;
}
.morebikes:link,
.morebikes:active,
.morebikes:visited
{
	clear: both;
  	background-color: #f93405;
  	color: white;
  	font-size: 16pt;
  	padding: 20px 15px;
  	display: block;
  	border-radius: 6px;
  	margin-right: auto;
  	margin-left: auto;
  	width: 45%;
  	text-align: center;
  	margin-bottom: 15px;
  	text-decoration: none;
}
.morebikes:hover
{
	background-color: #fb5c36;
}
@media screen and (min-width: 660px) {
	header
	{
		position: fixed;
	  	top: 0;
	  	left: 0;
	  	z-index: 9999;
	  	width: 100%;
	  	height: 60px;
	  	background-color: rgba(0,0,0,0.8);
	}
	header nav
	{
		position: relative;
	}
	header nav ul
	{
		width: 85%;
		max-width: 300px;
		text-align: right;
		display: block;
		position: absolute;
		right: 0px;
	}
	header nav a img
	{
		position: absolute;
  		z-index: 9999999;
  		top: 0px;
  		width: 135px;
  		margin-top: 20px;	
  		margin-left: 0px;
  	}
	header nav ul li a:link,
	header nav ul li a:active,
	header nav ul li a:visited
	{
		float: left;
		text-align: center;
		color: white;
		font-size: 14px;
		width: 100px;
		text-decoration: none;
		padding-top: 23px;
		padding-bottom: 23px;
		-moz-transition: 0.2s;
		-o-transition: 0.2s;
		-webkit-transition: 0.2s;
		-ms-transition: 0.2s; 
	    transition: 0.2s;

	}
	header nav ul li a:hover
	{
		background-color: white;
		color: black;
		-moz-transition: 0.2s;
		-o-transition: 0.2s;
		-webkit-transition: 0.2s;
		-ms-transition: 0.2s; 
	    transition: 0.2s;
	}
	nav
	{
		width: 100%;
		max-width: 1020px;
		margin-left: auto;
		margin-right: auto;
	}
	.slicknav_menu 
	{
		display:none;
	}
	#menu
	{
		display: block;
	}
	#teaser ul li
	{
		width: 33.33%;
		float: left;
		margin-bottom: 35px;
	}
	#teaser ul li img
	{
		max-height: 280px;
	}
	#how ul li
	{
		margin-top: 50px;
		width: 33%;
		float: left;
	}

	#how p
	{
		padding-left:  15px;
		padding-right: 15px;
	}
	aside.nav-sec
	{
		width: 15%;
		margin-left: 0px;
		margin-top: 95px;
	}
	aside.nav-sec ul li
	{
		float: none;
		margin-bottom: 0px;
		margin-left: 0px;
	}
	.content
	{
		float: left;
		margin-top: -85px;
		text-align: center;
		width: 85%;
		margin-left: 15%;
	}
	.content p
	{
		padding-left: 75px;
	}
	.filters
	{
		width: 25%;
		float: left;
	}
	.filters span
	{
		width: 100%;
		margin: 0px;
		border-radius: 0px;
		cursor: text;
		padding-right: 0px;
	}
	.filters span:hover
	{
		background-color: #f93405;
	}
	.filters span i
	{
		display: none;
	}
	.content
	{
		width: 75%;
		margin-left: 25%;
		margin-top: -52px;
	}
	.content ul.discover-list
	{
		margin-top: -148px;
		z-index: 999999;
	}
	.content ul.discover-list li.discover-list-li
	{
		width: 50%;
		min-width: 0px;
		float: left;
		max-width: 100%;
		max-height: 316px;
	}
	.content ul.discover-list li.discover-list-li img
	{
		max-height: 316px;
	}
	.content ul.discover-list li.discover-list-li .discover-banner p.discover-price
	{
		width: 15%;
	}
	.content
	{
		margin-bottom: 25px;
	}
	#filterlist
	{
		width: 100%;
		border:none;
		display: block;
	}
}